.csstage {
}

.csstage .unlockbox {
    color: #ffffff;
    font-size: 20px;
    text-shadow: 5px 5px #000000CC; 
}

.csstage .clock {
    color: #ffffff;
    text-shadow: 5px 5px #000000CC; 
}

.csstage .toppanel {
    border-color: alpha(white, .2);
    border-style: solid;
    color: white;
    background-color: transparent;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, .2), rgba(0, 0, 0, 0));
}

.csstage .audiopanel {

}

.csstage .infopanel {

}

.csstage .notificationwidget,
.csstage .powerwidget {
    font-size: 12px;
    font-weight: bold;
    color: white;
    background-color: transparent;
    background-image: none;
    text-shadow: 1px 1px #000000CC;
    padding: 6px;
}

.csstage .auth-message {
    font-size: 15px;
    color: red;
}

.csstage .caps-message {
    font-size: 15px;
    color: orange;
}

.csstage .passwordentry {
    font-size: 15px;
    border: none;
    color: white;
    background-color: rgba(229, 229, 229, .2);
}

.csstage .passwordentry progress {
    margin: 2px;
    padding: 0;
    border: none;
}

.csstage .transparentbutton {
    -gtk-icon-style: requested;
    border-image: none;
    box-shadow: none;
    background-image: none;
    background-color: transparent;
    border-radius: 20px;
    -gtk-outline-radius: 20px;
    outline-color: transparent;
    color: alpha(white, .7);
    border-width: 1px;
    padding: 4px;
}

.csstage .transparentbutton image {
    color: alpha(white, .7);
}

.csstage .transparentbutton:disabled image {
    color: #FFFFFF;
}

.csstage .passwordentry:focus,
.csstage .transparentbutton:focus {
    background-color: alpha(grey, .3);
    box-shadow: 1px 1px alpha(white, 0.1);
    border: none;
}

.csstage .passwordentry:hover,
.csstage .transparentbutton:hover {
    border-color: alpha(white, .2);
    background-color: alpha(grey, .2);
    box-shadow: 1px 1px alpha(white, 0.1);
    border: none;

}

.csstage .passwordentry:hover:focus,
.csstage .transparentbutton:hover:focus {
    background-color: alpha(grey, .4);
    box-shadow: 1px 1px alpha(white, 0.1);
    border: none;
}

.csstage .passwordentry:active,
.csstage .transparentbutton:active {
    background-color: alpha(grey, .6);
    box-shadow: 1px 1px alpha(white, 0.1);
    border: none;
}

.csstage .passwordentry:active:focus,
.csstage .transparentbutton:active:focus {
    background-color: alpha(grey, .9);
    box-shadow: 1px 1px alpha(white, 0.1);
    border: none;
}

.csstage .volumeslider {
    min-height: 24px;
    min-width: 100px;
    background-color: rgba(255, 255, 255, .1);
    color: @theme_selected_bg_color;
    padding: 3px 0px 3px 0px;
}

.csstage scale.volumeslider slider {
    min-height: 24px;
    min-width: 4px;
    margin: -9px; }

.csstage .volumeslider:disabled {
    background-color: alpha(white, .5);
}

.csstage .trackname {
    font-family: monospace;
    font-size: 12px;
    text-shadow: 1px 1px #E5E5E5CC;
    background-image: none;
    background-color: transparent;
}

.csstage .albumartist {
    font-family: monospace;
    font-size: 8px;
    text-shadow: 1px 1px #E5E5E5CC;
    background-image: none;
    background-color: transparent;
}

.csstage GtkViewport {
    background-color: transparent;
    background-image: none;
}
